DATABASE_URL="postgres://app:secret@localhost:5432/acidarchive"

APP_COGNITO__USER_POOL_ID=change_me
APP_COGNITO__USER_POOL_CLIENT_ID=change_me
APP_COGNITO__REGION=change_me

APP_S3__REGION=change_me
APP_S3__BUCKET=change_me

# For local dev only
TEST_USER_USERNAME=change_me
TEST_USER_PASSWORD=change_me
TEST_USER_ID=change_me

AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
